{% layout 'password' %}

<div class="paswword__landing">
  <header role="banner" class="mb-4">
    <h1>
      {% render 'icon-logo' %}
      <span class="icon-fallback-text">{{ shop.name }}</span>
    </h1>
  </header>

  <h2 class="mb-4">{{ 'general.password_page.opening_soon' | t }}</h2>

  {% form 'storefront_password', class: 'mb-4' %}
    {{ form.errors | default_errors }}
    <div class="field">
      <label for="password">{{ 'general.password_page.login_form_heading' | t }}</label>
      <input type="password" name="password" id="Password"
        placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
    </div>
    <button type="submit" name="commit" class="button">
      {{ 'general.password_page.login_form_submit' | t }}
    </button>
  {% endform %}

  <p class="mb-4">{{ 'general.password_page.admin_link_html' | t }}</p>

  <footer>
    <small>&copy; {{ 'now' | date: "%Y" }} {{ shop.name | link_to: '/' }}</small>
  </footer>
<div>